#btn-wp {
    position: fixed;
    bottom: 40px;
    right: 10px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

#btn-wp:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}
.img-noticia{
margin-bottom: 5%;
}

.card-noticias:hover{
    transform: scale(1.01);
    transition: all 300ms;
}

.a-footer{
    text-decoration: none;
    color: white;
}

li{
    text-align: center;
}

.h5-footer{
    color: azure;
    text-align: center;
    border-bottom: 0.1px solid rgb(149, 155, 245);
}

.social{
    border: 1px solid white;
    border-radius: 50px;
}

.social:hover{
    transform: scale(1.1);
}
